body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: white;
  color: black;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid grey;
}

#logo img {
  height: auto;
  margin-right: 10px;
  max-width: 100%;
}

#placeholder {
  width: 500;
  height: 200;
}

#companyname {
  margin-top: 10px;
}

#addressName {
  font-family: Tahoma, sans-serif;
  line-height: 1.5;
  text-align: right;
}

#addressName::before {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
}

#addressName > :nth-child(2) {
  font-size: smaller;
  margin-top: 5px;
  font-weight: lighter;
}

#addressName > :nth-child(3),
#addressName > :nth-child(4),
#addressName > :nth-child(5) {
  font-size: xx-small;
  margin-top: 10px;
  font-weight: lighter;
}

form {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*I want you to pay attention to this part*/
input[type="text"],
select,
textarea {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin-bottom: 10px;
}
.container-two-columns {
  display: flex;
  gap: 10px;
}
.container-two-columns div {
  flex: 1;
}
ul {
  list-style: none;
}
#myTable {
  width: 100%;
  border-collapse: collapse;
}

#myTable th,
#myTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#myTable th {
  background-color: #f2f2f2;
  color: black;
}

#myTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

#myTable tr:hover {
  background-color: #ddd;
}
